#student-selector{
    display: flex;
    flex-direction: column;
    gap:12px;
}

#student-selector .selection-row{
    height: fit-content;
    width:fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

